<form method="post" action="{{ path('app_hand_delete', {'id': hand.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hand.id) }}">
    <button class="btn">Delete</button>
</form>
