{% extends 'base.html.twig' %}

{% block title %}Edit Hand{% endblock %}

{% block body %}
    <h1>Edit Hand</h1>

    {{ include('hand/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_hand_index') }}">back to list</a>

    {{ include('hand/_delete_form.html.twig') }}
{% endblock %}
