{% extends 'base.html.twig' %}

{% block title %}New Hand{% endblock %}

{% block body %}
    <h1>Create new Hand</h1>

    {{ include('hand/_form.html.twig') }}

    <a href="{{ path('app_hand_index') }}">back to list</a>
{% endblock %}
